version: "3.7"

services:
  wordpress:
    image: wordpress:latest
    restart: always
    container_name: wordpress
    ports:
      - 8000:80
    environment:
      WORDPRESS_DB_HOST: mariadb
      MYSQL_ROOT_PASSWORD: root
      WORDPRESS_DB_NAME: wp_demo
      WORDPRESS_DB_USER: wp_user
      WORDPRESS_DB_PASSWORD: wp_pass
      WORDPRESS_TABLE_PREFIX: wp_
    volumes:
      - ~/Workspace/docker/wordpress/conf:/etc/apache2/sites-available
      - ~/Workspace/docker/wordpress/html:/var/www/html

networks:
  default:
    external: 
      name: localhost-network      